/* #region Common */
/* Root */
/* :root
{

} */

/* CSS RESET */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}
/* #endregion Common */

/* #region Utility Classes */
.row {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.container {
  width: 70%;
  max-width: 1150px;
  margin: auto;
}

.cointainer-sm {
  width: 60%;
  max-width: 840px;
  margin: auto;
}

col-4 {
  width: calc(100% / 12 * 4);
  padding: 1rem;
}
/* #endregion Utility Classes */

/* #region Debug */
.debug > #app-header  {
  background-color: blue;
  height: 4rem;
  padding: 0.5rem;
}

.debug  .menu-left,
.debug  .menu-right {
  background-color: aqua;
  flex-basis: 50%;
}

.debug .jumbotron {
  background-color: aquamarine;
  height: 50rem;
  padding-top: 3rem;
}

.debug  .container {
  background-color: #16be86;
  height: 100%;
  
}

.debug .plans {
  background-color: blueviolet;
  height: 70rem;
  padding-top: 20rem;
}

.debug .cointainer-sm {
  background-color: violet;
  height: 50rem;
}
.debug .col-4 {
  background-color: brown;
  height: 2rem;
}
/* #endregion Debug */

/* #region Header */
/* #endregion Header */

/* #region Main */
/* #endregion Main */

/* #region Footer */
/* #endregion Footer */


