/* #region Common */
/* Root */
:root
{
  --db-primary: #0061ff;
  --db-secondary: #B4D0E7;
  --db-dark: #000000;
  --db--light: #ffffff;
  --db--grey: #808080;
  --db--brown: #61072b;
}

/* CSS RESET */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}
/* #endregion Common */

/* #region Utility Classes */
.row {
  display: flex;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}

.container {
  max-width: 1150px;
  margin: auto;
}

.cointainer-sm {
  max-width: 1000px;
  margin: auto;
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-12 {
  width: 100%;
}

img {
  max-width: 100%;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.pt-2 {
  padding-top: 2rem;
}
/* #endregion Utility Classes */

/* #region Header */
#app-header {
  box-shadow: 0 0 20px var(--db--grey);
}

nav {
  padding: 1.5rem;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  gap: 3rem;
}

nav ul li a {
  text-decoration: none;
  color: var(--db-dark);
}

#button {
  background-color: var(--db-primary);
  color: var(--db--light); /* Non lo prende */
  border: none;
  padding: 0.5rem;
  width: 5rem;
}
/* #endregion Header */

/* #region Main */
/* #region jumbotron */
.jumbotron {
  background-color: var(--db-secondary);
  padding-top: 6rem;
  text-align: center;
}

.jumbotron h1 {
  padding-bottom: 5rem;
}

.jumbo_text {
  width: 40%;
  flex-direction: column;
}

.jumbo_text > p {
  text-align: justify;
  
}

.jumbo_text button {
  margin: 2rem 0;
}

.jumbo_image {
  width: 60%;
  position: relative;
}

.jumbo_image > img {
  width: 100%;
  position: absolute;
  top: 5px;
  right: 0;
}

i {
  padding-bottom: 2rem;
}
/* #endregion jumbotron */

/* #region plans */
.plans {
  margin-top: 10rem;
  border: 1px solid var(--db--grey);
}

.card {
  border: 1px solid red;
  text-align: center;
}
/* #endregion plans */

/* #region partner */
.partner img {
  width: 640px;
  /* margin: 10rem 17rem; */
}

.partner .col-8 {
  margin-top: 10rem;
  /* margin-left: 1rem; */
}

.partner .col-4{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
/* #endregion partner */

/* #region teams */
.teams .cointainer-sm .div > h2{
  margin: 3rem 0;
}
/* #endregion teams */


.call-to-action {
  background-color: var(--db-secondary);
  /* margin: 5rem 0; */
  padding: 10rem 0;
}

.call-to-action h2 {
  color: var(--db--brown);
}
/* #endregion Main */

/* #region Footer */
/* #endregion Footer */


