/* #region Common */
/* Root */
/* :root
{

} */

/* CSS RESET */
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}
/* #endregion Common */

/* #region Utility Classes */
.row {
  display: flex;
  height: 100%;
  flex-wrap: wrap;
}

.d-flex {
  display: flex;
}
/* #endregion Utility Classes */

/* #region Debug */
.debug > #app-header  {
  background-color: blue;
  height: 4rem;
  padding: 0.5rem;
}

.debug  .menu-left,
.debug  .menu-right {
  background-color: aqua;
  flex-basis: 50%;
}

.debug  .container {
  background-color: aquamarine;
  height: 100%;
}
/* #endregion Debug */

/* #region Header */
/* #endregion Header */

/* #region Main */
/* #endregion Main */

/* #region Footer */
/* #endregion Footer */


